{% load mathfilters %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Умная погода</title>
        {% load static %}
        <link rel="icon" href="{% static 'img/favicon.ico' %}"><!--добавил свою иконку, так как сервер постоянно пытался найти, и возвращал ошибку 500-->
        <!-- <link rel="icon" href="data:;base64,="> а таким образом можно добавить пустую иконку-->
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <main>
            <div class="container" style="height: 100vh; background-image: url('https://i.ibb.co/YP5gmNW/weather3-1.jpg'); background-size:cover; background-repeat: no-repeat; background-position: center;">
            
                <h4>Мы поможем вам быстро определить погоду в вашем населенном пункте и посоветуем,
                    что необходимо надеть сегодня на улицу,
                    чтобы чувствовать себя комфортно.</h4>
                <form method="POST">
                    {% csrf_token %}
                    <p>Укажите город {{ form }}</p>
                    <input type="submit" value="Отправить">
                </form>
            
            <br>
            {% if weather %}
            
                <h4>Погода в г. {{ weather.name }}:</h4>
                <p>За окном {{ weather.weather.0.description }}
                <br>Температура воздуха {{ weather.main.temp|floatformat:0 }}°
                <br>Ощущается как {{ weather.main.feels_like|floatformat:0 }}°
                <br>Ветер {% if weather.wind.deg <= 22.5 %}"С"
                        {% elif weather.wind.deg <= 67.5 %}"СВ"
                        {% elif weather.wind.deg <= 112.5 %}"В"
                        {% elif weather.wind.deg <= 157.5 %}"ЮВ"
                        {% elif weather.wind.deg <= 202.5 %}"Ю"
                        {% elif weather.wind.deg <= 247.5 %}"ЮЗ"
                        {% elif weather.wind.deg <= 292.5 %}"З"
                        {% elif weather.wind.deg <= 337.5 %}"СЗ"
                        {% else %}"С"
                        {% endif %} {{ weather.wind.speed|floatformat:1 }}м/с
                <br>Давление {{ weather.main.pressure|mul:0.750062|floatformat:0 }}мм рт.ст.
                <br>Влажность {{ weather.main.humidity }}%</p>
            
            
                <h4>Что надеть сегодня?</h4>
                {{ wear }}
            
            {% endif %} 
            </div>
        </main>
    </body>
</html>